* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2b2b2b;
  font-family: "Montserrat", sans-serif;
}
.social-media-container {
  position: fixed;
  z-index: 2;
  left: -10px;
  top: 25vh;
  background-color: #fff;
  border-radius: 10px;
  width: 80px;
  height: 50vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 768px) {
  .social-media-container {
    bottom: 0;
    left: auto;
    top: auto;
    flex-direction: row;
    width: 100%;
    height: 80px;
  }
}
.social-media-container img {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  cursor: pointer;
}
nav {
  background-color: white;
}
nav li,
img {
  margin-right: 20px;
}
.cbox {
  background-color: #ebecf7;

  overflow: hidden;
}

.cbox h2 {
  font-size: 40px;
  font-weight: 1000;
  margin-bottom: 40px;
}
.cbox img {
  width: 100%;
  padding: 8%;
}
.row {
  margin-right: 5px;
  padding: 4% 2%;
}
.btn-custom {
  margin-top: 40px;
}
/* Contest Alert  */
.jazbat-cont {
  display: flex;
  padding: 80px 0;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.jazbat-cont h1 {
  font-weight: 800;
  font-size: 40px;
  padding: 30px;
  color: #392696;
}
.single-pricing {
  margin: 0 20px;
  /* position: relative; */
  text-align: center;
  padding: 20px 0;
}
.single-pricing div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-text {
  height: 150px;
  border-radius: 7px 7px 0 0;
  line-height: 150px;

  border-bottom: none;
  padding: 20px;
  background-color: #6b54e2;
}
.head-text h1 {
  font-size: 35px;
  color: white;
}
.price-area {
  height: 60px;
  background-color: #f0f0f0;
}
.price-area h3 {
  color: #6b54e2;
  font-weight: 700;
}
.feature-area {
  height: 150px;
  flex-direction: column;
  background-color: #6b54e2;
  border-radius: 0 0 7px 7px;
}
.feature-area h3 {
  color: white;
  font-size: 35px;
  font-weight: 200;
}
.feature-area span {
  font-size: 20px;
  color: white;
  font-weight: 600;
}
.worth-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.worth-area h1 {
  font-size: 70px;
  color: #6b54e2;
}
.worth-area h3 {
  width: 30%;
}

.btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

@media (max-width: 768px) {
  .worth-area {
    flex-direction: column;
  }
  .worth-area h3 {
    width: auto;
  }
  .btns {
    flex-direction: column;
    width: auto;
  }
}
